.hatchless-sidebar {
  display: none;
}

@media (min-width: 768px) {
  .hatchless-sidebar {
    display: block;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 300px;
    padding: 1rem;
    border-right: 1px solid #ddd;
    //color: #0ca678;
    background: rgba(251, 251, 248, 0.1);
  }
}

.mantine-NavLink-root {
  padding: 0 16px;
  height: 44px;
  border-radius: 0 8px 8px 0;
}

//.mantine-NavLink-root:hover {
//  background-color: var(--mantine-color-troutStream-8, 0.1);
//}

.mantine-NavLink-root:hover {
  background-color: color-mix(in srgb, var(--mantine-color-troutStream-6), transparent 85%);
  box-shadow: inset 4px 0 0 0 var(--mantine-color-troutStream-4);
  color: var(--mantine-color-troutStream-9);
}

.mantine-NavLink-root[data-active="true"] {
  background-color: var(--mantine-color-troutStream-6);
  color: #ffffff; font-weight: 500;
}

.mantine-NavLink-label {
  font-size: 1.1rem;
  letter-spacing: -0.01em;
}