.hatchless-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 300px;
  padding: 1rem;
  border-right: 1px solid #ddd;
  color: var(--color-text-muted);
  background: var(--color-shadow);
}

.mantine-NavLink-root {
  padding: 0 16px;
  height: 44px;
  border-radius: 0 8px 8px 0;
}

.mantine-NavLink-root:hover {
  background-color: var(--color-active)
}