.mantine-DatePicker-day[data-weekend]{
    color: black !important;
}

.mantine-DatePicker-day[data-selected]{
    background-color: var(--mantine-color-pink-5) !important;
    color: white !important;
}