.page {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.to-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.to-right {
  justify-content: flex-end;
}

.align-right {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.full-width {
  width: 100%;
}

.margin {
  margin: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}